/* Medias Queris */

@media (max-width: 768px) {

    .header__ul {
        margin: 5px;

        li {
            font-size: 1.3rem;
        }
    }

    .galeria {
        grid-template-columns: 0.6fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-template-areas:
            "fotoUno"
            "fotoDos"
            "fotoTres";
        justify-content: center;
    }

    .main__img--responsive {
        height: 350px;
    }

    .cards__container {
        height: 500px;

        &--blog {
            height: 600px;
        }
    }

    .titulo {
        font-size: 2rem;
        width: 75%;
        margin: 0 auto;
    }

    .texto {
        font-size: 1rem;
    }

    .form {
        width: 300px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .section__div {
        opacity: 1;
    }
}

@media (max-width:425px) {
    .footer {
        display: inline;

        &__img {
            width: 60px;
            margin: 5px auto;
            position: static;
        }

        &__ul--redes {
            position: static;
        }
    }
}