//Reset
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    text-align: center;
    box-sizing: border-box;
    line-height: normal;

}

//Variables
$marron: #4d2b02;
$beige: #fae8cd;
$amarillo: #ffa500;
$naranja: #e68627;

//Fonts

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Montserrat:wght@300;500;700&display=swap');


//Texto 
.titulo {
    color: $marron;
    font-size: 2rem;
}

.tituloBlanco {
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    bottom: 100PX;
    margin: 0 auto;
}

.texto {
    @extend .titulo;
    font-family: 'Montserrat';
    font-size: 1.2rem;

    margin: 20px;
    text-align: justify;
}
.textoAncho {
    width: 50%;
}


//Estructura General
body {
    background-color: $beige;
    width: 100%;
    height: 100%;
}

.grid-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "contenido"
        "footer";
}

.main {
    grid-area: contenido;
    padding-top: 25px;
    margin-top: 10px;

    &__img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
}

a {
    text-decoration: none;
    color: $naranja;
    margin: auto;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

//Cards 
.cards {
    @include flexCenter;
    flex-wrap: wrap;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $naranja;
        height: 700px;
        width: 450px;
        padding: 15px 30px;
        margin: 10px 20px 20px;
        border-radius: 3px;
        justify-content: space-evenly;
    }
}

//Flex
.flex {
    @include flexCenter;
    margin-top: 20px;
    align-items: center;
}

/*  Bootstrap */
.card {
    background-color: $naranja;
    color: $marron;
    border: 0;
}

.btn {
    background-color: $beige;
    color: $marron;
    border: 0;

    &:hover {
        background-color: $beige;
        color: $marron;
    }
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: $beige;
}

body::-webkit-scrollbar-thumb {
    background: $naranja;
    border-radius: 20px;
    border: 2px solid $naranja;
}